
/*
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
*/

body, div, span, a, img, h1, h2, h3, h4, h5, ul, li {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
body, div, span, a, img, h1, h2, h3, h4, h5, ul, li, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    overflow: hidden;
}

html, body { overflow: hidden; height: 100% }
body {
    font-size: 24px;
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    /* font-family: 'Open Sans', arial, sans-serif; */
    font-family: arial, sans-serif;
}

/*
.ui-mobile-viewport{
   -webkit-text-size-adjust:100%;
   -ms-text-size-adjust:none;
   -webkit-tap-highlight-color:rgba(0,0,0,0)
}
*/

/*
.ui-mobile [data-role=page],.ui-mobile [data-role=dialog],.ui-page{
   top:0;
   left:0;
   width:100%;
   min-height:100%;
   position:absolute;
   display:none;
   border:0
}
*/
.ui-mobile .ui-page-active{
    display:block;
}
/*

@media screen and (orientation:portrait){
    .ui-mobile,.ui-mobile .ui-page{
        min-height:420px
    }
}
@media screen and (orientation:landscape){
    .ui-mobile,.ui-mobile .ui-page{
        min-height:300px
    }
}
*/

ul.ui-listview {
    background-color: #FFF;
}

/* Image-handle for drag/drop */
li.ui-li > div > .drag-handle {
    background-color: transparent;
    opacity: 0.08;
    cursor: pointer;
}

li.ui-li.ui-focus > div > .drag-handle {
    opacity: 0.2;
}

.drop-mode .drag-handle {
    visibility: hidden;
}
.drop-mode .ui-sortable-helper .drag-handle {
    visibility: visible;
}

li.collapsed > ul {
    display: none;
}

.ui-corner-all {
  -webkit-border-radius: .2em;
  border-radius: .2em;
}

/* around list-element */
.ui-btn-up-c, .ui-btn-up-c:hover, .ui-btn-hover-c, .ui-btn-hover-c:hover {
    text-shadow: none;
    background-image: none;
}

li {
    list-style-type: none;
}
/* Style draggable helper in drop-mode */
.drop-mode li.ui-li.ui-sortable-helper {
    opacity: 0.9;
    border: solid 1px #CCC; /* Used to be 888 */
    border-radius: 0.25em; /* Used to be 0.675em */

}

/* Set page background */
.ui-page,  .ui-body-c {
    background-image: none;
    background-color: #FFF; /* Used to be 888 */
}

.panel-border {
    position: absolute;
    left: 0;
    z-index: 10;
    top: 3%;
    height: 94%;
    width: 1px;
    margin: 0;
    padding: 0;
    background-color: #CCC;
}


/* Mask other hover-effects when in drop-mode */
.drop-mode .ui-btn-hover-c {
    border-color: transparent;
    background-color: #fff;
    background-image: none;
    font-weight: bold;
    color: #333;
    text-shadow: none;
}

/* drop-layer fills the page when active */
.droplayer, .drawlayer {
    display: none;
    background: transparent;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.transition-mode .drawlayer {
    display: block;
}
.drop-mode .drawlayer, .drop-mode .droplayer {
    display: block;
}

.drop-mode .droplayer > .dropborder, .drop-mode .drawlayer > .dropborder {
  position: absolute;
  background-color: transparent;
  border:  dashed #BBB 1px;
}

.drop-mode .droplayer > .dropborder.active, .drop-mode .drawlayer > .dropborder.active {
    border-style: solid;
    border-color: #444;
}

.drop-mode .droplayer > .droparrow {
    position: absolute;
    opacity: 0.4;
    height: 1.48em;
    width: 1.48em;
}
.drop-mode .droplayer > .droparrow > img,
.drop-mode .droplayer > .droplink > img {
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.drop-mode .droplayer > .droparrow.active {
    opacity: 1;
}

.drop-mode .droplayer > .droplink {
    position: absolute;
    opacity: 0.3;
    height: 1.48em;
    width: 1.48em;
}
.drop-mode .droplayer > .droplink.active {
    opacity: 1;
}

.ui-scrollview-clip {
    overflow: hidden;
}
.drop-mode .drag-hover.ui-scrollview-clip, .drop-mode .drag-hover.ui-scrollview-view {
    overflow: hidden;
}

.ui-header {
    background-color: #FFF;
    background-image: none;
}


.button {
    opacity: 0.3;
    cursor: pointer;
}
.button:hover {
    opacity: 0.4;
}
.button.disabled {
    opacity: 0.1;
}
.button > img {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}
/*

.undo-container > a.undo-button, .undo-container > a.redo-button,

.ui-header span.ui-btn-inner {
display: block;
background-repeat: no-repeat;
background-position: center;
}
*/
/* Undo-button particulars */
/*
.undo-button span.ui-btn-inner {
    display: block;
    background-image: url(images/undo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.redo-button span.ui-btn-inner {
    display: block;
    background-image: url(images/redo.png);
    background-repeat: no-repeat;
    background-position: center;
}
*/
/*
.undo-button > div.ui-disabled,
.redo-button > div.ui-disabled  {
    height: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
}
*/
/** End undo-button details */

.ui-breadcrumb > a.ui-breadcrumb-link {
    cursor: pointer;
}

/* Attempt to Eliminate pixel-jitter when selecting?
a:active, a:focus {
    outline-style: none;
    -moz-outline-style:none;
}  */


li.ui-li.ui-focus, li.ui-li.ui-focus:hover {
    background-color: #FFF;
}

li.ui-li.ui-last-child {
    -webkit-border-bottom-left-radius:0.2em;
    border-bottom-left-radius:0.2em;
    -webkit-border-bottom-right-radius:0.2em;
    border-bottom-right-radius:0.2em;
}

li.ui-li.ui-first-child {
    -webkit-border-top-left-radius:0.2em;
    border-top-left-radius:0.2em;
    -webkit-border-top-right-radius:0.2em;
    border-top-right-radius:0.2em
}

li.ui-li {
    background-color: #FFF;
}

li.ui-li.drag-hidden > div, li.ui-li.drag-hidden > ul {
    visibility: hidden;
}

li.ui-li.ui-btn-hover-c {
    background-color: #FFF;
}


li.ui-li .outline-header > div > textarea.outline-content.ui-input-text {
    resize: none;
    display: block;
    margin: 0; /* 12px; */
    font-weight: normal;
    padding: 0.15em 0.18em; /* 2px 3px; */
    color: #333;
    font-size: 1em; /* 18px; */
    min-height: 1.25em; /* 22px; */
    line-height: 1.25em; /* 22px; */
    border-radius: 0.25em; /* 8px; */ /* Used to be 0.675em */
    outline: none;
    text-shadow: none;
    background-color: transparent;
    background-image: none;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    /* width: 100%;
    height: 100%; */
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: height 0 ease-in;
    transition: none;
}

div.hiddendiv {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0.25em; /* 8px; used to be 0.675em */
    outline: none;
    position: absolute;
    min-height: 1.25em;
    font-size: 1em; /* 18px; */
    line-height: 1.25em; /* 22px; */
    font-weight: normal;
    z-index: -1500;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hiddendiv > span {
    display: inline;
    font-size: 1em; /* 18px; */
    line-height: 1.25em; /* 22px; */
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    white-space: nowrap;
    word-wrap: break-word;
}

.ui-body-c .panel-name {
    color: #222;
    font-weight: bold;
    /* text-shadow: none; */
}
.ui-body-c .ui-link {
    color: #AAA;
    font-weight: bold;
    /* text-shadow: none; */
}
.ui-body-c .ui-link:hover {
    color: #CCC;
}
textarea.hide-selection::selection {
    background: transparent;
}

/*
.ui-btn:focus,.ui-link-inherit:focus,
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
    outline:0
}

.ui-input-text.ui-focus,
.ui-input-search.ui-focus,
.ui-focus,.ui-btn:focus {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
*/

/*
.scroll-spacer {
    display: block;
    width: 100%;
    height: 80%;
    background: transparent;
}
*/


.grid-wrapper {
    background: #FFF; /* covers hiddendiv */
}
.grid-wrapper > .left-button {
    text-align: center;
    display: block;
    font-size: 2.5em;
    cursor: pointer;
}
.grid-wrapper > .right-button {
    text-align: center;
    display: block;
    font-size: 2.5em;
    cursor: pointer;
}
.grid-wrapper > .left-button:hover,
.grid-wrapper > .right-button:hover {
    color: #DDD;
}

.link-list > .node-link {
    position: absolute;
    color: #AAA;
    text-decoration: none;
    font-size: 1em; /* 18px; */
    line-height: 1.25em; /* 22px; */
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    white-space: nowrap;
    word-wrap: break-word;
    cursor: pointer;
}
div.hiddendiv > span.node-link {
    color: #AAA;
    text-decoration: underline;
}

/* Debug style */
#debuglog {
    display: none;
    position: absolute;
    z-index: 2000;
    overflow: scroll;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: white;
}
#debuglog li {
    display: block;
    margin: 0; padding: 0; border: 0;
    font-size: 13px;
    font-weight: normal;
    color: black;
    background-color: transparent;
}
#debuglog ul {
    display: block;
    margin: 0; padding: 0; border: 0;
    margin-left: 20px;
}

#debuglog .kill {
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #F80;
}
#debugopen {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #FF0;
}
/* End of debug */