

body, div, span, a, img, h1, h2, h3, h4, h5, ul, li {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

html, body { overflow: hidden; height: 100% }
body { margin:0; padding:0; }
body {
    font-size: 16px;
}

.ui-mobile .ui-page-active {
    overflow: hidden;
}

ul.ui-listview {
    overflow: hidden;
    /* Used to be #EEE */
    background-color: #FFF;
}
.ui-btn-inner {
    font-size: 1em; /* Override 16px default */
}
/* Image-handle for drag/drop */
li.ui-li > div > .drag-handle {
    position: absolute;
    top: 0.09em;
    left: 0.09em;
    height: 1.3em; /* 24px */
    width: 1.3em;
    background-color: transparent;
    opacity: 0.1;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 0.675em; /* Used to be 0.675em */
    margin: 0px;
}

li.ui-li.ui-focus > div > .drag-handle,
li.ui-li.ui-btn-hover-c > div > .drag-handle {
    opacity: 0.45;
}

.drop-mode .drag-handle {
    visibility: hidden;
}
.drop-mode .ui-sortable-helper .drag-handle {
    visibility: visible;
}

/* Handle transformation when open or closed */
li.collapsed.branch > div > .disclose {
    background-color: #CCC; /* Used to be 888 */
}

li.collapsed > ul {
    display: none;
}

/* Override 15px padding around each panel,
   since it messes up column spacing */
.ui-content {
    padding: 0;
}

.ui-corner-all {
  -webkit-border-radius: .2em;
  border-radius: .2em;
}

/* Fix line-spacing for inset-list */
.ui-content .ui-listview-inset, .ui-panel-inner .ui-listview-inset {
    margin: 0;
}

ul.ui-listview > li.ui-li {
    position: relative;
    border: none;
}
/* around list-element */
.ui-btn-up-c, .ui-btn-up-c:hover, .ui-btn-hover-c, .ui-btn-hover-c:hover {
    border: none;
    text-shadow: 1px 1px 0 #ccc;
    background-image: none;
}

li.ui-li > div.ui-li.ui-btn-inner {
    border: none;
}

/* Style draggable helper in drop-mode */
.drop-mode li.ui-li.ui-sortable-helper {
    opacity: 0.9;
    border: solid 1px #CCC; /* Used to be 888 */
    border-radius: 0.25em; /* Used to be 0.675em */
}

/* Remove extra padding around ui-link-inherit */
/* Need to re-add this padding somewhere */
/* .ui-li .ui-btn-inner a.ui-link-inherit {
    padding: 0 0 0 0.8em;
} */
.ui-li .ui-btn-inner {
    padding: 0 0 0 0.8em;
}

/* Remove shadows from many ui-shadow elements */
.ui-shadow, .ui-shadow:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Set page background */
.ui-page,  .ui-body-c {
    background-image: none;
    background-color: #CCC; /* Used to be 888 */
}

/* Remove border around body and text-area*/
.ui-body-c {
    border: none;
}

/* Only show box-shadow on hover or when in drop-mode */
.ui-shadow-inset, .drop-mode .ui-shadow-inset:hover {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

/* Mask other hover-effects when in drop-mode */
.drop-mode .ui-btn-hover-c {
    border-color: transparent;
    /* Used to be #eee */
    background-color: #fff;
    background-image: none;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 0 #ccc;
}

/* drop-layer fills the page when active */
.droplayer, .drawlayer {
    display: none;
    background: transparent;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.transition-mode .drawlayer {
    display: block;
}
.drop-mode .drawlayer, .drop-mode .droplayer {
    display: block;
}

.drop-mode .droplayer > .dropborder, .drop-mode .drawlayer > .dropborder {
  position: absolute;
  background-color: transparent;
  border:  dashed #BBB 1px;
}

.drop-mode .droplayer > .dropborder.active, .drop-mode .drawlayer > .dropborder.active {
    border-style: solid;
    border-color: #444;
}

.drop-mode .droplayer > .droparrow {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/indent-arrow.png);
    opacity: 0.3;
    height: 1.48em;
    width: 1.48em;
}

.drop-mode .droplayer > .droparrow.active {
    opacity: 1;
}

/* .drop-mode .drag-hover {
    z-index: 10;
    overflow: visible;
}
*/
.ui-scrollview-clip {
    overflow: hidden;
    height: 100%;
}
.ui-scrollview-clip > .ui-scrollview-view {
    padding-bottom: 2px;
}

.drop-mode .drag-hover.ui-scrollview-clip, .drop-mode .drag-hover.ui-scrollview-view {
    /* overflow-x: visible; */
    overflow: hidden;
}

.ui-header {
    background-color: #FFF;
    /* Used to be #EEE */
    background-image: none;
    height: 42px;
}


.undo-container, .zoom-container {
    width: 100px;
    height: 36px;
}
.undo-container > a.undo-button, .undo-container > a.redo-button,
.zoom-container > a {
    float: left;
    padding: 2px;
    margin: 3px;
}

.ui-header span.ui-btn-inner {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

/* Undo-button particulars */
.undo-button span.ui-btn-inner {
    display: block;
    background-image: url(images/undo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.redo-button span.ui-btn-inner {
    display: block;
    background-image: url(images/redo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.undo-button > div.ui-disabled,
.redo-button > div.ui-disabled  {
    height: 100%;
    border-radius: inherit;
    -webkit-border-radius: inherit;
}
/** End undo-button details */

.ui-breadcrumb > a.ui-breadcrumb-link {
    cursor: pointer;
}

/* Attempt to Eliminate pixel-jitter when selecting? */
a:active, a:focus {
    outline-style: none;
    -moz-outline-style:none;
}

/* Margins around page */
.horizontal-grid-container {
    margin: 0px 0px;
    width: 90%;
    float: left;
    overflow: hidden;
}
.horizontal-grid > div {
    float: left;
}

.ui-grid-a > div, .ui-grid-a > div > div {
    height: 100%;
}
.ui-grid-a > div > div {
    width: 94%;
    position: relative;
    left: 3%;
}

li.ui-li.ui-focus, li.ui-li.ui-focus:hover {
    background-color: #FFF;
}

li.ui-li.ui-last-child {
    /* Used to be 0.6em */
    -webkit-border-bottom-left-radius:0.2em;
    border-bottom-left-radius:0.2em;
    -webkit-border-bottom-right-radius:0.2em;
    border-bottom-right-radius:0.2em;
}

li.ui-li.ui-first-child {
    -webkit-border-top-left-radius:0.2em;
    border-top-left-radius:0.2em;
    -webkit-border-top-right-radius:0.2em;
    border-top-right-radius:0.2em
}

li.ui-li {
    /* Used to be #EEE */
    background-color: #FFF;
}

li.ui-li.drag-hidden {
/*    -webkit-transition: height 80ms linear;
    -moz-transition: height 80ms linear;
    -o-transition: height 80ms linear;
    transition: height 80ms linear;
*/
}

li.li-placeholder, div.li-placeholder {
    height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    /* Used to be #EEE */
    background-color: #FFF;
    overflow: hidden;
}

li.ui-li.drag-hidden > div, li.ui-li.drag-hidden > ul {
    visibility: hidden;
}

li.ui-li.ui-btn-hover-c {
    background-color: #FFF;
}
li.ui-li-static.ui-li {
    padding: 0;
}

li.ui-li > ul.ui-listview {
    padding: 0;
    margin: 0 0 0 0.8em;
}

li.ui-li .outline-header > div.outline-content_container {
    padding: 1px 2px 1px 1.65em;
    margin: 0;
    height: 1.55em;
/*    -webkit-transition: height 80ms linear;
    -moz-transition: height 80ms linear;
    -o-transition: height 80ms linear;
    transition: height 80ms linear;
    */
}

li.ui-li .outline-header > div > textarea.outline-content.ui-input-text {
    resize: none;
    display: block;
    margin: 0; /* 12px; */
    font-weight: normal;
    padding: 0.15em 0.18em; /* 2px 3px; */
    color: #333;
    font-size: 1em; /* 18px; */
    min-height: 1.25em; /* 22px; */
    line-height: 1.25em; /* 22px; */
    border-radius: 0.25em; /* 8px; */ /* Used to be 0.675em */
    outline: none;
    text-shadow: 1px 1px 0 #ccc;
    background-color: transparent;
    background-image: none;
    overflow: hidden;
    border: none;
    width: 100%;
    height: 100%;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: height 0 ease-in;
    transition: none;
}

div.hiddendiv {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0.25em; /* 8px; used to be 0.675em */
    outline: none;
    position: absolute;
    min-height: 1.25em;
    font-size: 1em; /* 18px; */
    line-height: 1.25em; /* 22px; */
    font-weight: normal;
    left: 10px;
    top: 10px;
    z-index: -1500;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hiddendiv > span {
    display: inline;
    font-size: 1em; /* 18px; */
    line-height: 1.25em; /* 22px; */
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    white-space: nowrap;
    word-wrap: break-word;
}

/*
div.hiddeninput {
    display: block;
    position: absolute;
    z-index: -1;
    margin: 0;
    height: 1.25em;
    width: 50px;
    padding: 0;
    border: none;
    top: 0;
    left: 0;
    opacity: 0;
}
*/

.ui-body-c .panel-name {
    color: #222;
    font-weight: bold;
    text-shadow: 1px 1px 0 #AAA;
}
.ui-body-c .ui-link {
    color: #DDD;
    font-weight: bold;
    text-shadow: 1px 1px 0 #333;
}
.ui-body-c .ui-link:hover {
    /* Used to be #EEE */
    color: #FFF;
}

.ui-btn:focus,.ui-link-inherit:focus,
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
    outline:0
}

.ui-input-text.ui-focus,
.ui-input-search.ui-focus,
.ui-focus,.ui-btn:focus {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

textarea.hide-selection::selection {
    background: transparent;
}
/*
li.ui-li > div > div > textarea.ui-input-text.outline-content:focus {
    color: transparent;
    -webkit-text-fill-color: #333;
}
li.ui-li.ui-focus > div > div > textarea.ui-input-text.outline-content:focus {
    color: #333;
}
*/

.scroll-spacer {
    display: block;
    width: 100%;
    height: 80%;
    background: transparent;
}

/* Debug style */
#debuglog {
    display: none;
    position: absolute;
    z-index: 2000;
    overflow: scroll;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: white;
}
#debuglog li {
    display: block;
    margin: 0; padding: 0; border: 0;
    font-size: 13px;
    font-weight: normal;
    color: black;
    background-color: transparent;
}
#debuglog ul {
  display: block;
  margin: 0; padding: 0; border: 0;
  margin-left: 20px;
}

#debuglog .kill {
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #F80;
}
#debugopen {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #FF0;
}

.grid-wrapper > .left-button {
    float: left;
    text-align: center;
    display: block;
    margin-top: 1.5em;
    width: 5%;
    font-size: 2.5em;
    cursor: pointer;
}
.grid-wrapper > .right-button {
    float: right;
    text-align: center;
    display: block;
    margin-top: 1.5em;
    width: 5%;
    font-size: 2.5em;
    cursor: pointer;
}
.grid-wrapper > .left-button:hover,
.grid-wrapper > .right-button:hover {
    /* Used to be #EEE */
    color: #FFF;
}

.inner-panel {
    margin: 0 auto;
    width: 95%;
}

.link-list > .node-link {
    position: absolute;
    color: #AAA;
    text-decoration: underline;
    font-size: 1em; /* 18px; */
    line-height: 1.25em; /* 22px; */
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    white-space: nowrap;
    word-wrap: break-word;
    cursor: pointer;
}
div.hiddendiv > span.node-link {
    color: #AAA;
    text-decoration: underline;
}
/* End of debug */